= form_for([@company, @contact], html:{class: "form-horizontal"}) do |f|
  - if @contact.errors.any?
    .field.form-group
      .col-sm-6.col-md-offset-2
        #error_explanation
          %h2= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
          %ul
            - @contact.errors.full_messages.each do |msg|
              %li= msg

  .field.form-group
    = f.label :name, "Name / Organizatiion", class: "col-sm-2 control-label"
    .col-sm-6
      = f.text_field :name, class: "form-control"
  .field.form-group
    = f.label :ph, class: "col-sm-2 control-label"
    .col-sm-6
      = f.text_field :ph, class: "form-control"
  .field.form-group
    = f.label :email, class: "col-sm-2 control-label"
    .col-sm-6
      = f.email_field :email, class: "form-control"
  .field.form-group
    = f.label :address, class: "col-sm-2 control-label"
    .col-sm-6
      = f.text_area :address, class: "form-control"
  .field.form-group
    = f.label :city, class: "col-sm-2 control-label"
    .col-sm-6
      = f.text_field :city, class: "form-control"
  .field.form-group
    = f.label :zip, class: "col-sm-2 control-label"
    .col-sm-6
      = f.text_field :zip, class: "form-control"
  .field.form-group
    = f.label :country, class: "col-sm-2 control-label"
    .col-sm-6
      = f.country_select :country
  .field.form-group
    = f.label :business, class: "col-sm-2 control-label"
    .col-sm-6
      = f.check_box :business, class: "form-control"
  .field.form-group
    = f.label :customer, class: "col-sm-2 control-label"
    .col-sm-6
      = f.check_box :customer, class: "form-control"
  .field.form-group
    = f.label :supplier, class: "col-sm-2 control-label"
    .col-sm-6
      = f.check_box :supplier, class: "form-control"
  .field.form-group
    = f.label :employee, class: "col-sm-2 control-label"
    .col-sm-6
      = f.check_box :employee, class: "form-control"
  .actions.col-sm-offset-2.col-sm-6
    = hidden_field_tag "contact[company_id]", 1
    .col-sm-6
      = f.submit 'Save', class: "btn btn-primary"
      = link_to 'Cancel', :back, class: "btn btn-danger"
