.panel
  .panel-body
    = link_to raw('<span class="glyphicon glyphicon-home"></span>'), root_path,
      class: "btn btn-default"
    = link_to @company.name, company_books_path(@company), class: "btn btn-default"
    = link_to 'New Book', new_company_book_path(@company), class: "btn btn-default"
    .pull-right
      = render partial: "common/search_form"

= render @books
