= form_for(@company, html:{class: "form-horizontal"}) do |f|
  - if @company.errors.any?
    .field.form-group
      .col-sm-6.col-md-offset-2
        #error_explanation
          %h2= "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:"
          %ul
            - @company.errors.full_messages.each do |msg|
              %li= msg

  .field.form-group
    = f.label :name, class: "col-sm-2 control-label"
    .col-sm-6
      = f.text_field :name, class: "form-control"
  .field.form-group
    = f.label :description, class: "col-sm-2 control-label"
    .col-sm-6.better-text-area
      = f.text_area :description, class: "form-control"

  .actions.col-sm-offset-2.col-sm-6
    = f.submit 'Save', class: "btn btn-default"
