= render partial: 'books/top_bar'

.row
  .col-md-12
    %h1
      = @company.name
      \/
      Friends
    %p
      Friends are trusted people whom you can add to your company so that they can add / modify
      and delete financial records. The user needs to have been registered for him / her to be
      addedas friend.

.row
  .col-md-12
    = form_tag(add_friend_company_path(@company)) do
      = email_field_tag :email, nil,placeholder: "Enter email"
      = submit_tag "Add Person"
  %ul
    - for collab in @company.collaborators do
      %li
        = collab.email
        = link_to "Remove", remove_friend_company_path(@company, collab_id: collab.id), method: :delete