.panel.panel-primary
  .panel-heading= @company.name
  .panel-body
    = link_to "14 Books", "#", class: "btn btn-default"
    = link_to "7245 Contacts", "#", class: "btn btn-default"
    = link_to "Edit", edit_company_path(@company), class: "btn btn-default"
    = link_to "Delete", @company, class: "btn btn-default", method: :delete,
      "data-confirm" => "Do you really want to delete?"

= link_to "Add New Book", new_company_book_path(@company),
  class: "btn btn-default"

%table.table.table-stripped
  %tr
    %th Book name
    %th Income
    %th Expense
    %th Pen - Income
    %th Pen - Expense
    %th Balance
  = render @company.books
