#advanced-search.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#myModalLabel.modal-title Advanced Search
      .modal-body
        = form_tag({action: :index}, method: :get, class: "form-horizontal") do
          = hidden_field_tag :contact_id, params[:contact_id]
          .form-group
            .col-sm-4.control-label
              %label Search Text
            .col-sm-8= search_field_tag :s, params[:s], placeholder: "Search what?"
          .form-group
            .col-sm-4.control-label
              %label Record Type
            .col-sm-8= select_tag :t, options_for_select(record_status_options, selected: params[:t]),
            prompt: "All Records"
          .form-group
            .col-sm-4.control-label
              %label Start Date
            .col-sm-8= datetime_field_tag :st, params[:st], placeholder: "yyyy-mm-dd"
          .form-group
            .col-sm-4.control-label
              %label End Date
            .col-sm-8= datetime_field_tag :et, params[:et], placeholder: "yyyy-mm-dd"
          .form-group
            .col-sm-4.control-label
            .col-sm-8
              #contact-content-for-filter
                .contact-content
                  - if @contact
                    = @contact.name
                    %br
                    = @contact.ph
                    %br
                    = @contact.email
                    %br
                  %span#remove-contact.btn.btn-danger Remove Contact
          .col-sm-8.col-sm-offset-4= submit_tag "Search", class: "btn btn-primary"
        %hr
        #contact-search
          = text_field_tag :contact_name, nil, placeholder: "Search Contact"
          #contact-search-display

      .modal-footer
        Compass ERP
