%tr{class: record_color(finance_record)}
  %td= "##{finance_record.sno}"
  %td= finance_record.time.to_s(:short)
  %td= link_to finance_record.description, company_book_finance_record_path(finance_record.book.company,
  finance_record.book, finance_record)
  %td.right= finance_record.amount
  %td= finance_record.status.gsub(/_/, ' ').capitalize
  %td
    = link_to raw("<i class='glyphicon glyphicon-pencil'></i> #{finance_record.notes.count} &nbsp; <i class='glyphicon glyphicon-download'></i> #{finance_record.docs.count} &nbsp; <i class='glyphicon glyphicon-time'></i> #{finance_record.versions.count} "),
      company_book_finance_record_path(finance_record.book.company, finance_record.book, finance_record),
      class: "btn btn-default btn-sm"
    = link_to "Edit", edit_company_book_finance_record_path(finance_record.book.company, finance_record.book, finance_record),
      class: "btn btn-default btn-sm"
    = link_to "Delete", company_book_finance_record_path(finance_record.book.company, finance_record.book, finance_record),
      method: :delete, confirm: "Really want to delete record?", class: "btn btn-default btn-sm"
