<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Sno</Data></Cell>
        <Cell><Data ss:Type="String">Time</Data></Cell>
        <Cell><Data ss:Type="String">Transaction</Data></Cell>
        <Cell><Data ss:Type="String">Description</Data></Cell>
        <Cell><Data ss:Type="String">Amount</Data></Cell>
      </Row>
    <% @records.order(:sno).each do |record| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= record.sno %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.time %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.transaction %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.description %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= record.amount %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
