!!!
%html
  %head
    %title Erp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .row
      .col-md-3
        This is cool
      .col-md-9
        - unless notice.nil?
          %p.notice= notice
        - unless alert.nil?
          %p.alert= alert
        = yield

